{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="flex justify-between items-center mb-3">
    <h4 class="font-bold mb-0">{{ title }}</h4>
    <a href="{{ path('announcement_index') }}" class="btn-outline-norsu"><i class="bi bi-arrow-left mr-1"></i>Back</a>
</div>

<div class="card">
    <div class="card-body">
        {{ form_start(form) }}
            <div class="grid grid-cols-1 md:grid-cols-12 gap-3">
                <div class="md:col-span-8">{{ form_row(form.title) }}</div>
                <div class="md:col-span-4">{{ form_row(form.category) }}</div>
                <div class="md:col-span-12">{{ form_row(form.description) }}</div>
                <div class="md:col-span-4">{{ form_row(form.eventStartAt) }}</div>
                <div class="md:col-span-4">{{ form_row(form.location) }}</div>
                <div class="md:col-span-4">{{ form_row(form.joinUrl) }}</div>
                <div class="md:col-span-4">{{ form_row(form.isActive) }}</div>
            </div>
            <div class="mt-4 flex gap-2">
                <button type="submit" class="btn-norsu"><i class="bi bi-check-lg mr-1"></i>Save Announcement</button>
                <a href="{{ path('announcement_index') }}" class="btn-secondary">Cancel</a>
            </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
